<% layout('../partials/template') -%>
<% script('js/tshirt.js') -%>
<% stylesheet('css/tshirt.css') -%>


<div id="formWrapper">
	<h1 id="form-title">T-Shirt Registration</h1>
	<%if (typeof error !== 'undefined'){ %>
	<div id="error">
		<%=error%>
	</div>
	<br>
	<%}%>
	<br>
	<form action="tshirt" method="POST">
		<div class="row gtr-uniform">
			<br>
			<br>
			<div class="col-12">
				<label for="rollno">Roll<a href="images/treasurer.jpeg"> </a>Number </label>
				<input type="text" value="<%=data.rollno%>" name='rollno' readonly required>
			</div>
			<div class="col-12">
				<label for="rollno">Name</label>
				<input type="text" value="<%=data.name == undefined ? "" : data.name%>" name='name' required>
			</div>
			<div class="col-12">
				<label for="phone">Phone Number </label>
				<input type="number" value="<%=data.phone == undefined ? "" : data.phone%>" name='phone' required>
			</div>
			<div class="col-6 col-12-small requirementSelector">
				<input type="radio" id="requirement-foodonly" name="requirement" value="foodcard" required>
				<label for="requirement-foodonly">Foodcard</label>
			</div>
			<div class="col-6 col-12-small requirementSelector">
				<input type="radio" id="requirement-both" name="requirement" value="foodcard_tshirt" required>
				<label for="requirement-both">Foodcard + Tshirt</label>
			</div>
			<div class="col-6 col-12-small">
				<label for="hostel">Hostel</label>
				<select name="hostel" id="hostel" required value="<%=data.hostel%>">
					<option value="">Please select</option>
					<%data.hostels.forEach(hostel=>{%>
					<option value="<%=hostel%>" <%=data.hostel===hostel?'selected':''%>>
						<%=hostel%>
					</option>
					<% })%>
					<option value="Day Scholar">Day Scholar</option>
				</select>
			</div>
			<br>
			<div class="col-6 col-12-small">
				<label for="dept">Department</label>
				<select name="dept" id="dept" class="form-control"required value="<%=data.dept%>">
					<option value="">Please select</option>
					<%data.depts.forEach(dept=>{%>
					<option value="<%=dept%>" <%=data.dept===dept?'selected':''%>>
						<%=dept%>
					</option>
					<% })%>
				</select>
			</div>
			<br>
			<div class="col-6 col-12-small hidden" id="tshirt-selector">
				<label for="size">Size </label>
				<select name="size" id="size">
					<option value="S" <%=data.size==='S' ?'selected':''%>>S</option>
					<option value="M" <%=data.size==='M' ?'selected':''%>>M</option>
					<option value="L" <%=data.size==='L' ?'selected':''%>>L</option>
					<option value="XL" <%=data.size==='XL' ?'selected':''%>>XL</option>
					<option value="XXL" <%=data.size==='XXL' ?'selected':''%>>XXL</option>
				</select>
			</div>

			<br>
			<div class="col-12">
				<ul class="actions">
					<li><input type="submit" value="Submit" class="primary" /></li>
				</ul>
			</div>
		</div>

	</form>
</div>
